zando:
  outputs:
    # This target is not used but kept for reference
    dev:
      type: postgres
      host: localhost
      user: "{{ env_var('DB_USER', 'postgres') }}"
      password: "{{ env_var('DB_PASS', 'postgres') }}"
      port: 5432
      dbname: "{{ env_var('DB_NAME', 'test') }}"
      schema: public
      threads: 4
      keepalives_idle: 0
      connect_timeout: 10
      retries: 1
    
    # For GCP Cloud SQL with Cloud SQL Auth Proxy running locally
    gcp_proxy:
      type: postgres
      host: localhost  # When using Cloud SQL Auth Proxy locally
      port: 5432
      user: "{{ env_var('DB_USER') }}"
      password: "{{ env_var('DB_PASS') }}"
      dbname: "{{ env_var('DB_NAME') }}"
      schema: public
      threads: 4
      keepalives_idle: 0
      connect_timeout: 10
      retries: 1
    
    # For GCP Cloud SQL when deployed to Cloud Run
    gcp:
      type: postgres
      # For GCP Cloud SQL, we use the socket path when deployed
      host: "{{ env_var('DB_HOST', '/cloudsql/' + env_var('INSTANCE_CONNECTION_NAME')) }}"
      user: "{{ env_var('DB_USER') }}"
      password: "{{ env_var('DB_PASS') }}"
      port: 5432
      dbname: "{{ env_var('DB_NAME') }}"
      schema: public
      threads: 4
      keepalives_idle: 0
      connect_timeout: 10
      retries: 1

  target: "{{ env_var('DBT_TARGET', 'gcp_proxy') }}"